<section class="mx-auto max-w-md" hlmCard>
  <div hlmCardHeader>
    <ui-title order="3">{{ name() }}</ui-title>
    <ui-text size="sm" variant="muted">{{ type() }}</ui-text>
  </div>

  <div hlmCardContent>
    <ui-hstack justify="between">
      <ui-text size="sm" variant="muted">Status</ui-text>
      <ui-badge [variant]="badge()">{{ status() }}</ui-badge>
    </ui-hstack>
  </div>

  @if (url()) {
    <div hlmCardFooter>
      <a class="text-sm font-medium underline-offset-4 hover:underline" [href]="url()" target="_blank">
        View details
      </a>
    </div>
  }
</section>
