<button uiButton preset="cardButton" (click)="clickMachine()">
    <ui-hstack justify="between" align="start">
        <ui-stack>
            <div>
                <ui-title size="sm">{{ machine().name }}</ui-title>
                <ui-text variant="muted" size="sm">#{{ machine().id }}</ui-text>
            </div>
            <ui-text variant="muted" size="sm">{{ machine().services.length }} services</ui-text>
        </ui-stack>

        <ui-stack size="sm">
            <ui-badge [variant]="badgeForStatus(machine().status)">{{ machine().status }}</ui-badge>
            <ui-text variant="muted" size="sm">cpu: xx%</ui-text>
        </ui-stack>
    </ui-hstack>
</button>
